*{
    margin:0;
    padding: 0;
}

body{
    background: #fcfcfc;
}

.container{
    width:180px;
    height: 100vh;
}

.dropdown{
    width: 400px;
    margin: 0 auto;
}

.dropdown .dropdown btn{
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #fff;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.dropdown .dropdown-content{
    position: absolute;
    top: 110%;
    left: 0;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 95%;
}

.dropdown .dropdown-content .dropdown-item{
    padding: 18px;
    cursor: pointer; 
    transition: all;
}

.dropdown .dropdown-content .dropdown-item:hover{
    background:#f4f4f4 ;
}
